.git
.cursor
.idea
.vscode

docs
ignored
node_modules
src/main/web/node_modules
src/main/web/coverage
src/main/web/__tests__
src/main/web/package.json
src/main/web/package-lock.json
src/main/web/vitest.config.js

.certs
*.pem
*.key
values-openshift.yaml

.quarkus
.mvn
target/*-runner
target/surefire-reports
target/failsafe-reports
target/site
